
<body>
    <h1> Download file page </h1>
    <form method="post" action="/DownloadFileFromNetwork" id="DownloadFileNetworkForm">
        <input name="filename" id="filename" type="text"value="{{.}}" readonly>
        <br>
        <Button type="submit" > Download file </button>
    </form>
    <script src="/GetRoutingTableJS"></script>
</body>
</html>