<!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

    <body>
      <h1> Hello, {{.Name}} </h1>

      <form method="post" action="/AddMessage" id="messageForm">
        <input name="text" id="text" type="text">
        <br>
        <Button type="submit" > Send message </button>
      </form>

      <Button id="messageButton"> Get messages </Button>
      <div id="container">
      <br>  
      </div>
      <form enctype="multipart/form-data" id="fileInfo" name="fileInfo" method="post">
        <input id="file" name="file" type="file" required/>
        <Button type="submit" > Send file </button>
      </form>

      <br>
      <form method="post" action="/RequestFile" id="fileRequestForm">
        <input name="destination" id="destination" type="text" placeholder="Node ID">
        <br>
        <input name="fileName" id="fileName" type="text" placeholder="file name">
        <br>
        <input name="metafile" id="metafile" type="text" placeholder="metafilehash">
        <Button type="submit" > Send message </button>
      </form>
      <br>
      <script src="/GetIndexJS"></script>
    </body>
  </html>