<ul>
    {{range $i, $val := .Messages}}
        {{if  $val.Text}}
            <li>
                <li>Origin: {{$val.Origin}}</li>
                <li>ID: {{$val.ID}}</li>
                <li>Text: {{$val.Text}}</li>
            </li>
        {{end}}
    {{end}}
</ul>