<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>

</head>

<body>
    <h1> PublicKey: </h1>
    <div>
        {{ range $index, $key := . }}
            <div>
                <p> {{ $key.Origin }}</p>
            </div>
        {{end}}
    </div>
    <script src="/GetRoutingTableJS"></script>
</body>
</html>