<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>

</head>

<body>
    <h1> Peers: </h1>
    <div>
        {{ range $index, $secret := . }}
            <div>
                <h2>New Secret: </h1>
                <h2>Download by clicking the link <h2>
                <p> Filename: {{ $secret.FileName }} </p>
                <a href='/DownloadSecretFile?filename={{$secret.FileName}}'>Download</a>
            </div>
        {{end}}
    </div>
    <script src="/GetRoutingTableJS"></script>
</body>
</html>